@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a add multiple phone books with contacts as you please </p>
</div>
<form method="post">
    <section class="">
        <div class="dashboard">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <h3>Your Phone Books</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="form_box">
                            <ul>
                                @foreach (var phoneBook in Model.allPhoneBooks)
                                {
                                    <input type="submit" value="@phoneBook.PhoneBookName"
                                           asp-page-handler="FetchPhoneBookContact" asp-route-phoneBookId="@phoneBook.PhoneBookID" />
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="content_box pb-5">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            @if (Model.selectedPhoneBook != null)
                            {
                                <h3>@Model.selectedPhoneBook.PhoneBookName - Entries</h3>
                            }
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="row">
                                <div class="col-8 col-md-8">
                                    <input id="searchInput" asp-for="@Model.searchString" type="text" name="" placeholder="Enter your search value here" class="form-control">
                                </div>
                                <div class="col-4 col-md-4">
                                    <button asp-page-handler="Search" class="btn_green mt-0" type="submit">SEARCH</button>
                                </div>
                                @Model.searchString
                            </div>
                        </div>
                    </div>
                    <div class="table_wrap" style="border: 0;">
                        <table class="table table2"  id="entryTable">
                            <thead>
                                <tr>
                                    <th style="background: #CCDCD1;">Name</th>
                                    <th style="background: #CCDCD1;">Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ if (Model.allPhoneBookEntries != null)
                                    {
                                        foreach (var entry in Model.allPhoneBookEntries)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="customer_flex">
                                                        <div class="text">@entry.EntryName</div>
                                                    </div>
                                                </td>
                                                <td class="black">
                                                    <b>@entry.EntryNumber</b>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <p>No entries found</p>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
        $(function () {
            $("#searchInput").keyup(function () {
                GetEntry();
            });
        });
        function GetEntry() {
            var searchValue = $.trim($("#searchInput").val());
            console.log(searchValue);
            $.ajax({
                type: "POST",
                url: "/Search/SearchEntries",
                data: "{searchString:'" + searchValue + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (entries) {
                    console.log("In sucess");
                    var table = $("#entryTable");
                    table.find("tr:not(:first)").remove();
                    $.each(entries, function (i, entry) {
                        var table = $("#entryTable");
                        var row = table[0].insertRow(-1);
                        $(row).append("<td />");
                        $(row).find("td").eq(0).html(entry.EntryName);
                        $(row).append("<td />");
                        $(row).find("td").eq(1).html(entry.Number);
                        $(row).append("<td />");
                    });
                }
            });
        }
</script>